 @import url(https://fonts.google.com/css2?family=Robot:wght@400;700&display=swap);

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 html{
     font-size: 10px;
 }

 body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)),url(background-img.jpg);     background-position: center;
     background-size: cover;
     font-family: 'Roboto', sans-serif;
 }

 .container{
     max-width: 1100px;
     margin: 0 auto;
     padding: 0 3rem;
     margin-top: 4rem;
     text-align: center;
 }
 h1{
     color: rgb(0, 246, 0);
     font-size: 5rem;
     font-weight: 700;
     letter-spacing: 8px;
     margin-bottom: 1.5rem;
 }
 h1:hover{
     color: #fff;
     cursor: pointer;
 }

 .image{
     margin-top: 10rem;
     margin-bottom: 5rem;
 }

 p{
     font-size: 2rem;
     color: bisque;
     line-height: 5rem;
     margin-bottom: 5rem;
 }
 p:hover{
     color: chartreuse;
     cursor: pointer;
 }
 .btn{
     display: inline-block;
     padding: 1rem 1rem;
     background: rgb(156, 79, 79);
     font-size: 16px;
     text-decoration: none;
     color: rgb(0, 3, 2);
     border-radius: 20px;
     transition:  0.5s;
 }

 .btn:hover{
     background-color: aqua;
     font-weight: bolder;
 }
h2{
    color: rgb(0, 240, 0);
}